.main-menu
    .main-menu__up
        a(href="/")
            img.logo(src="../../../../assets/svg/logo.svg")
        ul.main-menu__menu
            each i in mainMenu
                if i.submenu 
                    li.main-menu__item
                        a(href=i.href)= i.name
                        ul.main-menu__submenu
                            each j in i.submenu 
                                li
                                    a(href=j.href)= j.name
                else
                    li.main-menu__item
                        a(href=i.href)= i.name
        .burger#burger      
    .main-menu__down
        .long-yellow-line 
        .main-menu__title.logo__text фабрика мебели


