
ul.side-panel
    img.side-panel__close(src="../../../../assets/icons/cross.svg")
    each i in topMenu 
        li.side-panel__item
            a(href= i.href)= i.name
            if (i.submenu && i.submenu.length)
                ul.side-panel__submenu
                    each j in i.submenu 
                        li.side-panel__item 
                            a(href= j.href)= j.name
    hr
    each i in mainMenu 
        li.side-panel__item
            a(href= i.href)= i.name
            if (i.submenu)
                ul.side-panel__submenu
                    each j in i.submenu 
                        li.side-panel__item 
                            a(href= i.href)= j.name