.mozaic
    display: grid
    width: min(1180px,95vw)
    margin-inline: auto
    grid-template-columns: repeat(auto-fill, minmax(373px, 1fr))
    grid-auto-rows: 254px
    grid-gap: 30px
    margin-bottom: 100px

.mozaic__title
    width: min(1180px, 95vw)
    margin: 0 auto 20px
