.mozaic
    display: grid
    grid-template-columns: repeat(auto-fill, minmax(320px, 1fr))
    grid-auto-rows: 254px
    grid-gap: 30px
    margin-bottom: 100px

    &__container
        width: min(1180px,95vw)
        margin-inline: auto
