@import "@var"
.about
    +wid
    &__text
        padding: 1em 0
    &__certificates
        display: flex
        column-gap: 29px
        row-gap: 30px
        flex-wrap: wrap
        align-items: center
        justify-content: center
        margin-bottom: 200px
