@import "@var"
.shop-card
    +wid
    &__text
        color: #EC9704
        font-size: 35px
        text-align: center

    &__button
        border-radius: 35px
        width: 215px
        height: 0px
        overflow: hidden
        display: grid
        place-items: center
        background: #fff
        transition: .3s
        cursor: pointer
        margin: 0 auto 200px

        &[open]
            height: 48px
            border: 1px solid #EC9704

        &:hover
            background: #EC9704
            color: #fff

    &__img
        display: block
        width: 134px
        margin: 0 auto
        height: 0
        overflow: hidden
        transition: height .5s
        margin: -170px auto 56px
        filter: grayscale(1) brightness(1.2)

        &[open]
            height: 134px

    &__data, &__article[data-id="0"]
        display: flex
        flex-direction: column
        row-gap: 20px

        & > button.button
            color: #fff
            width: 167px

    &__main
        display: grid
        grid-template-columns: minmax(200px,1fr) 4fr
        margin: 0 auto
        @media screen and ( max-width: 600px )
            grid-template-columns: 50px 4fr
        //     grid-template-columns: 200px 78%
        // @media screen and ( max-width: 930px )
        //     grid-template-columns: 200px 78%
    &__topay
        text-align: right
        font-weight: 500
        font-size: 25px

    &__article
        overflow: hidden
        transition: height .5s
        height: 0

        &:first-child[open]
            height: auto
        &:nth-child(2)
            margin-top: 43px
            &[open]
                height: $height_form-body
                @media screen and ( max-width: 880px )
                    height: auto
        &:nth-child(3)[open]
            height: auto

    &__text
        margin-bottom: 40px
