.tiser
    width: min(1132px,95vw)
    margin: 0 auto
    position: relative

    &__item
        height: 320px
        overflow: hidden
        display: flex
        align-items: flex-end
        border-radius: 10px
        cursor: pointer
        @media screen and ( max-width: 500px )
            align-items: center
            height: 390px
        &:hover *
            color: #000

    &__container
        overflow: hidden
        margin: 55px 0
        @media screen and ( max-width: 768px )
            margin: 55px 0 40px

    &__controls
        display: flex
        position: absolute
        z-index: 2
        justify-content: space-between
        left: -23px
        right: -23px
        top: 50%
        transform: translateY(-50%)
        @media screen and ( max-width: 1024px  )
            left: 0
            right: 0

    &__img
        width: 100%
        @media screen and ( max-width: 600px )
            width: unset
            height: 100%

    &__content
        position: absolute
        top: 32px
        left: 84px
        z-index: 2
        width: calc( 387 / 1132 * 100%)

        @media screen and ( max-width: 500px )
            width: 80%
            left: 40px

    &__title
        font-weight: 500
        font-size: 35px
        margin-bottom: 17px
        @media screen and ( max-width: 500px )
            font-size: clamp(27px,27/320*100vw ,35px)

#tiser
    @media screen and ( max-width: 1024px )
        width: 95%
        margin: 0 auto
