include ../../common/mixins/splide.pug
.tiser
    +splide("tiser",tiser)
        .tiser__item
            img.tiser__img(src=val.img)
            .tiser__content
                h2.tiser__title= val.title 
                .tiser__text= val.text
    .tiser__controls 
        .arrow.arrow_180
        .arrow
        

        
