mixin panel(title,img)
    .panel&attributes(attributes)
        img.panel__img(src=img)
        .panel__curtain
        .panel__title
            span= title
        a.panel__next.next(href="#") 
            div Перейти
            img.arrow_180(src="../../../../assets/icons/Arrow 1.png")