mixin panel(title,img, href)
    a.panel(href=href)&attributes(attributes)
        img.panel__img(src=img)
        .panel__curtain
        .panel__title
            span= title
        .panel__next.next
            div Перейти
            img.arrow_180(src="../../../../assets/icons/Arrow 1.png")