section.tiser__container 
    include ./tiser/tiser.pug
section.mozaic__container 
    include ./mozaic/mozaic.pug
section.card-list__container 
    include ./card-list/card-list.pug
section.whoarewe__container
    include ./whoarewe/whoarewe.pug
section.contacts__container
    include ./contacts/contacts.pug
