extends ./leader-template.pug
include ../components/common/card/card.pug
include ../components/common/crumbs/crumbs.pug
block main
    .shop-card
        +crumbs([{name:"Корзина",href:"/card.html"}])
        h1.shop-card__title.title Корзина
        img.shop-card__img(src="../../assets/svg/empty-card.svg" alt="empty card")
        .shop-card__text В вашей коризине пока нет товаров...
        a.shop-card__button(href="/catalog.html") Перейти в каталог
        .tabs
            each i,idx in tabs
                a.tabs__button(href="#" data-id=i.id, active= idx===0)= i.title
        .tabs__content
            .tabs__item(data-id='0' active)
                 Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet, et!   
            .tabs__item(data-id='1')
                h1 Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet, et!   
            
