extends ./leader-template.pug
include ../components/common/card/card.pug
include ../components/common/crumbs/crumbs.pug
block main
    .catalog
        +crumbs([{name:"Мебель для школы",href:"#"},{name:"Мебель для библиотек",href:"#"}])
        h1.mozaic__title.title Мебель для школы
        .catalog__sort 
            span Сортировать:
            select(name="catalog")  
                option(value="0") по артикулу
                option(value="1") по названию
                option(value="2") по цене
        .mozaic
            each i in catalog 
                +card(i)
