extends ./leader-template.pug
include ../components/common/card/card.pug
include ../components/common/crumbs/crumbs.pug
include ../components/common/tabs/tabs.pug
include ../components/common/galary/galary.pug
block main
    +crumbs([{name:"Категории",href:"/category.html"},{name:"Каталог",href:"/catalog.html"},{name:"Продукт",href:"/product.html"}])
    .product
        h1.product__title.title Библиотечный стол кафедра
        .product__data
            .product__left
                +galary(product.galary)
            .product__right 
                div Anything
            
        +tabs(tabs)
            .tabs__item(data-id='0' active)
                div kjlksdjlksjdf
            .tabs__item(data-id='1')
                div 90890809809
            .tabs__item(data-id='2')
                div материал

