include ../../common/mixins/splide.pug
include ../../common/card/card.pug
h1.card-list__title.title Лидеры продаж 
.card-list 
    .arrow.arrow_180 
    +splide("card-list", cardList)
        +card(val)
    .arrow