.galary
    &__thumbnails
        display: flex
        justify-content: space-evenly
        margin: 31px 0
    &__thumbnail
        cursor: pointer
        width: 71px
        height: 77px
        border-radius: 7px

    &__big
        & > img
            width: 100%
            border-radius: 10px
            max-width: 510px
