@import "@var"
$height_body_min: 70px
.accordion
    &__trigger
        display: flex
        align-items: center
        column-gap: 14px

    &__sign
        background: #878786
        width: 48px
        height: 48px
        border-radius: 50%
        display: grid
        place-items: center
        font-size: 30px
        transition: background-color .5s

    &__name
        font-size: 18px
        font-weight: 500

    &__body
        width: 2px
        height: $height_body_min
        background: #FFCC00
        margin: -2em 0
        margin-left: 24px
        transition: height .5s

    &__section
        position: relative

        &[done]
            & > .accordion__trigger > .accordion__sign
                background: #FFCC00

        &[open]
            & > .accordion__body
                height: $height_form_body

        &:last-child > .accordion__body
            height: 0

    &__name
        @media screen and ( max-width: 600px )
            display: none
