mixin accordion(val)
    .accordion 
        each i,idx in val
            section.accordion__section 
                input(type="checkbox", name="trigger")
                .accordion__trigger(status="done")
                    .accordion__sign= idx+1 
                    .accordion__name= i

                .accordion__body