.counter
    padding: 13px 39px
    border: 1px solid #ffcc00
    border-radius: 35px
    display: flex
    align-items: center
    justify-content: space-between
    width: 171px

    &__inc,&__dec
        border-radius: none
        cursor: pointer
        background: none
        border: none
        font-size: clamp(12px, 3.75vw, 18px)

    & > input
        display: none
