@import "@var"
.search
    display: grid
    grid-template-columns: calc(975 / 1180 * 100%) calc((1180 - 975) / 1180 * 100%)
    +wid
    padding: 19px 0
    @media screen and ( max-width: 768px )
        grid-template-columns: 100%

    &__input
        display: flex
        align-items: center
        & > input
            padding-left: 48px
            border-radius: 20px
            height: 41px
            border: none
            background: #D9D9D9
            width: 100%
            transform: translateX(-40px)

    &__icon
        transform: translateX(0)
        z-index: 1

    &__card
        display: flex
        align-items: center
        column-gap: 12px
        margin-right: 78px
        @media screen and ( max-width: 768px )
            margin-right: 0
            & > span
                display: none

    &__contacts
        display: flex
        flex-direction: column
        align-items: flex-end
        @media screen and ( max-width: 768px )
            display: none

    &__phone
        font-size: 20px
        font-weight: 600
        white-space: nowrap
