.search 
    .search__input
        img.search__icon(src="../../../../assets/icons/search.svg")
        input(type="text" placeholder="Поиск по сайту")
        a.search__card(href="/card.html")
            img(src="../../../../assets/icons/card1.svg")
            span Корзина
    .search__contacts 
        a.search__phone(href="tel:/"+common.phone)= common.phone
        a.search__phone(href="tel:/"+common.phone1)= common.phone1
        a.search__email(href="mailto:/"+common.email)= common.email
        
