.footer
    padding: 40px 0
    background: #878786

    &__main
        width: min(1180px, 95vw)
        margin: 0 auto
        display: grid
        grid-template-columns: calc(170/1180*100%) calc(132/1180*100%) calc(233/1180*100%) calc(347/1180*100%)
        grid-column-gap: 83px
    &.menu
        padding: 0
        display: flex
        flex-direction: column
        row-gap: 20px
        & a
            color: #fff

    &__item:first-child
        font-weight: 500
        font-size: 20px

    &__phone
        font-size: 39px
        font-weight: 600
        color: #fff
        display: block

    &__address
        color: #fff
        text-align: right
