.tabs
    display: flex
    position: relative
    column-gap: 4px

    &__container
        margin-bottom: 84px

    & > a:hover
        color: #000

    &__button
        border-radius: 7px 7px 0 0
        padding: 12.5px 15.5px
        cursor: pointer
        user-select: none
        background: #EC9704
        border: none
        font-size: clamp(10px,3.125vw,16px)
        &[active]
            background: #fff
            color: black
            border: 1px solid #878786
            border-bottom: none
            transform: translateY(1px)

    &__item
        display: none
        font-size: 14px
        &[active]
            display: block

        & > p
            margin-bottom: 1em

    &__content
        border-radius: 0 0 7px 7px
        border: 1px solid #878786
        // border-top: none
        padding: 30px 15.5px
