mixin tabs(arr)
    .tabs 
        each i,idx in arr
            .tabs__button
                .tabs__title(data-id=i.id, active= idx===0)= i.title
                input.tabs__check(type="checkbox", name="tab")
        block content