@import "./_check"
.total
    width: min(590px, 95%)

    &__title
        font-size: 20px
        color: #3C3C3C

    &__main
        display: flex
        align-items: center

    &__chair
        & > img
            transform: rotateY(180deg)

    &__check
        position: relative
        width: 237px

    &__footer
        display: flex
        column-gap: 13px
        & a
            color: #FFA800
            &:hover
                color: #FFA800

    &__footer
        & > button.button
            background: #EC9704
            color: #fff
            padding: 13px 37px

    & .material__item
        margin: 16px 0

    & > .cargo__title
        margin-top: 16px
