.contact-form
    width: min(774px, 95%)

    &__title
        font-weight: 500
        font-size: 20px

    &__data
        display: flex
        column-gap: min(30px,3vw)
        padding: 20px 0
        font-size: 18px
        & > input
            display: block
            padding: 11px 17px
            border-radius: 7px
            border: 1px solid #878786
            flex: 1
        @media screen and ( max-width: 880px )
            flex-direction: column
            row-gap: 30px

    & > button.button
        color: #fff
        background: #ffcc00

    &__comment
        & > textarea
            display: block
            padding: 11px 17px
            border-radius: 7px
            border: 1px solid #878786
            width: 100%
            margin-bottom: 28px
